@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans serif;
}
h1 {
    text-align: center;
}
body{

    align-items: center;
    align-content: center;
    
 background-color: #FFF5E0;
    margin-top: 300px;
    text-align: center;
   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}    
button {
    border:  solid 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: normal;
    color: black;
    background-color: white;
    font-size: medium;
    
    text-decoration: none;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    
}
button:hover{
    background-color: black;
    color: white;

    border-color: transparent;
}
#btnw{
   margin-top: -110px;
}


#gef{
        
        position: fixed;
        margin-top: -300px;
        width: 900px;
        height: 100%;
        margin-left: -300px;
        margin-right: 0px;
}
#gta{
    margin-left: -10px;
    padding-top: 330px;
}

