@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans serif;
}
h1 {
    text-align: center;
}
body{

    align-items: center;
    align-content: center;
 
    margin-top: 300px;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}    
button {
    font-weight: normal;
    color: black;
    background-color: white;
    font-size: medium;
    border: 1px solid black;
    text-decoration: none;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    
}
button:hover{
    background-color: black;
    color: white;

    border-color: transparent;
}



#gef{
        
        position: fixed;
        margin-top: -300px;
        width: 900px;
        height: 100%;
        margin-left: -300px;
        margin-right: 0px;
}
#gta{
    margin-left: -10px;
}